*{     
    background-color: #FCDDB0;
}

.h1{    
text-align: center;
font-family: 'Shadows Into Light', cursive;

}

.container{ 
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
}

.allwrap {  
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.allwrap p {    
    font-size: 59px;
    margin-bottom: 29px;
    
}

button{ 
    font-size: 39px;
    margin-left: 2rem;
    border-radius: 25%;
    font-family: 'Shadows Into Light', cursive;
}

button:hover{   
    color: #749F82;
    border-color: #749F82;
}

p{  
    font-family: 'Montserrat', sans-serif;
}

.name{  
    font-size: 19px;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 19rem;
}