*{  
    font-family: 'Shadows Into Light', cursive;
    background-color: #FCDDB0;
}

.h1{    
text-align: center;
margin-top: 9rem;
}

.allwrap{   
    position: absolute;
    top: 44%;
    left: 44%;
}

.container{ 
    text-align: center;
    font-size: 29px;
}